$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);
$color-dark-blue: hsl(234, 12%, 34%);
$color-gray-blue: hsl(229, 6%, 66%);
$color-light-gray: hsl(0, 0%, 98%);

$font-200: 200;
$font-400: 400;
$font-600: 600;

@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}